.auth-verify-container {
  min-height: calc(100vh - 10rem);
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.auth-verification-digits {
  input {
    width: 5rem;
    flex-grow: 1;
  }
}
