.custom-input {
  padding: var(--dr-spacing-2) var(--dr-spacing-4);
  background: var(--dr-gamma);
  color: var(--dr-alpha);
  border-radius: 1em;
  outline: none;
  width: 100%;
  border: none;
}

.custom-input.textarea {
  border-radius: 2rem;
  resize: none;
}

.custom-input.border {
  border: none;
}

.custom-input:focus {
  box-shadow: none !important;
}

.custom-input.shine-on-focus:focus {
  box-shadow: 0 0 5px var(--dr-delta), -5px 0 20px var(--dr-delta),
    5px 0 20px var(--dr-delta);
}

.custom-input::placeholder {
  color: var(--dr-color-alpha);
  opacity: 0.4;
}

.custom-input.danger {
  border-color: var(--dr-danger);
}

.custom-input.shine-on-focus.danger:focus {
  box-shadow: 0 0 5px var(--dr-danger), -5px 0 20px var(--dr-danger),
    5px 0 20px var(--dr-danger);
}
