.toast-04hl {
  animation: topToBottom 300ms ease-in-out;
  transform: translateX(-50%);
  border-radius: 1rem;
  max-width: 50rem;
  position: fixed;
  left: calc(50%);
  bottom: auto;
  right: auto;
  width: 92%;
  top: 5rem;

  &.toast-success {
    border: 1px solid #132d30;
    background-color: #7ff989;
    color: #132d30;
  }
  &.toast-danger {
    border: 1px solid rgb(99, 8, 8);
    background-color: #f37070;
    color: rgb(99, 8, 8);
  }
  &.toast-warning {
    border: 1px solid rgb(39, 36, 6);
    background-color: #fdf28b;
    color: rgb(39, 36, 6);
  }
  &.toast-info {
    border: 1px solid rgb(13, 43, 78);
    background-color: #93b9f7;
    color: rgb(13, 43, 78);
  }
  &.toast-default {
    border: 1px solid rgb(75, 14, 104);
    background-color: #d699ff;
    color: rgb(13, 43, 78);
  }

  ion-icon {
    color: var(--dr-alpha);
  }

  div {
    h5,
    p {
      color: inherit;
    }
  }
}

@keyframes topToBottom {
  0% {
    top: -6rem;
  }
  100% {
    top: 5rem;
  }
}
