.main-layout-56yl {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: transparent;

  .main-layout-56yl__content {
    flex: 1;
    margin: auto;
    max-width: 160rem;
    width: 96%;
    padding-bottom: 6rem;
  }
}
