.button {
  transition: background-color 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--dr-alpha);
  padding: 10px 16px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

.button-primary {
  border: 1px solid var(--dr-epsilon);
  background-color: var(--dr-delta);
  color: var(--dr-beta);
}

.button-secondary {
  background-color: #464649;
  color: var(--dr-beta);
}

.button-danger {
  border: 1px solid rgb(255, 0, 0);
  background-color: #530f0f70;
}

.button-warning {
  border: 1px solid rgb(255, 234, 0);
  background-color: #534c0f70;
}

.button-success {
  background-color: #64e087;
}

.button-default {
  background-color: #fbc5f6;
}

.button:hover {
  opacity: 0.8;
}
