.button {
  transition: background-color 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--dr-alpha);
  padding: 10px 16px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

.button-primary {
  border: 1px solid rgb(0, 119, 255);
  background-color: #0f395370;
}

.button-secondary {
  background-color: rgba(var(--dr-alpha-rgb), 0.3);
  color: var(--dr-alpha);
  backdrop-filter: blur(10px);
  border: 0.1rem solid var(--dr-alpha);
}

.button-danger {
  border: 1px solid rgb(255, 0, 0);
  background-color: #530f0f70;
}

.button-warning {
  border: 1px solid rgb(255, 234, 0);
  background-color: #534c0f70;
}

.button-success {
  border: 1px solid rgb(0, 255, 195);
  background-color: #0f534370;
}

.button-default {
  border: 1px solid rgb(0, 119, 255);
  background-color: #0f395370;
}

.button:hover {
  opacity: 0.8;
}
